<p id="notice"><%= notice %></p>

<% if @teacher_request.closed_at %>
  <h3>
    Closed on <%= @teacher_request.closed_at.to_date.to_s(:short) %>
  </h3>
<% end %>

<p>
  <strong>Teacher:</strong>
  <%= @teacher_request.teacher.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @teacher_request.description %>
</p>

<% if can_edit_teacher_request?(@teacher_request) %>
  <p>
    <%= link_to 'Edit', [:edit, @teacher_request] %>
  </p>
<% end %>

<h3>Comments</h3>

<p>
  <% @teacher_request.comments.each do |comment| %>
    <div id="<%= dom_id(comment) %>">
      <%= comment.body %>
    </div>
  <% end %>
</p>

<p>
  <%= form_for @teacher_request.comments.build do |f| %>
    <div class="form-group">
      <%= f.hidden_field :teacher_request_id %>

      <%= f.label :body, 'Comment' %>
      <%= f.text_area :body %>
    </div>

    <div class="form-group">
      <%= f.submit 'Add comment' %>
    </div>
  <% end %>
</p>
